* {
  margin: 0px;
}
body {
  background: url("../img/bg.jpg") center top repeat-x;
}
p {
  text-indent: 20px;
  margin: 20px;
}
#main {
  width: 950px;
  padding: 25px;
  margin: 100px auto;
  background: #CCCCCC;
  -webkit-box-shadow: 0px 0px 5px black;
  -moz-box-shadow: 0px 0px 5px black;
  -ms-box-shadow: 0px 0px 5px black;
  -o-box-shadow: 0px 0px 5px black;
  box-shadow: 0px 0px 5px black;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#menu {
  overflow: hidden;
  width: 100%;
  height: 50px;
  background: #DCDCDC;
  margin: -15px auto 10px;
  position: relative;
}
.menulink {
  padding-left: 10px;
  overflow: hidden;
  color: #555555;
  line-height: 50px;
  height: 50px;
  float: left;
  width: 115px;
  margin: 0px auto;
  font-size: 14px;
  font-family: Tahoma, Courier, Arial;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-border-radius: 40px 3px 40px 3px;
  -moz-border-radius: 40px 3px 40px 3px;
  -ms-border-radius: 40px 3px 40px 3px;
  -o-border-radius: 40px 3px 40px 3px;
  border-radius: 40px 3px 40px 3px;
}
.menulink:hover {
  background: coral;
  color: white;
  cursor: pointer;
}
#menu > div {
  overflow: hidden;
  position: absolute;
  top:50px;
  opacity: 0;
}
.to {
  margin: 5px; 
  cursor: pointer;
  background: #555555;
  width: 200px;
  float: right;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  color: #DDDDDD;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  font-family: Tahoma;
}
.to:hover {
  background: #999999;
  color: #FFFFFF;
}
#text {
  font-size: 14px;
  font-family: Tahoma;
}
.preview img {
  width: 500px;
  margin-top: auto;
}
#bg {
  background: rgba(0, 0, 0, .8);
  opacity: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.temp {
  position: fixed;
  -webkit-box-shadow: 0px 0px 50px white;
  -moz-box-shadow: 0px 0px 50px white;
  -ms-box-shadow: 0px 0px 50px white;
  -o-box-shadow: 0px 0px 50px white;
  box-shadow: 0px 0px 50px white;
}
.clr {
clear:both;
}
.news {
  background: #FFFFFF;
  width: 800px;
  min-height: 300px;
  margin: 20px 50px;
  padding: 30px;
  font-family: Tahoma;
  font-size: 14px;
  -webkit-box-shadow: 0px 0px 3px black;
  -moz-box-shadow: 0px 0px 3px black;
  -ms-box-shadow: 0px 0px 3px black;
  -ms-box-shadow: 0px 0px 3px black;
  box-shadow: 0px 0px 3px black;
}
.date {
  background: #AAAAAA;
  float: right;
  font-family: Monotype Corsiva;
  font-size: 12px;
  padding: 10px 50px;
  margin: -30px -30px;
}
.n_topic {
  font-family: Times New Roman;
  font-size: 16px;
}
.n_cont {
  padding: 30px;
  background: #EEEEEE;
  height: 220px;
  width: 740px;
}
.brief {
  width: 300px;
  float: left;
  font-family: Tahoma;
  font-size: 14px;
  background: #FFFFEE;
  padding: 40px;
  width:300px;
  height:400px;
  overflow:auto;
}
#loading {
  position:fixed;
  width: 200px;
  line-height: 50px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin: -25px -100px;
  background: #FFFFFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 3px black;
  -moz-box-shadow: 0px 0px 3px black;
  -ms-box-shadow: 0px 0px 3px black;
  -o-box-shadow: 0px 0px 3px black;
  box-shadow: 0px 0px 3px black;
}
.feed_div {
  width: 900px;
  background: white;
  border-bottom: solid 1px #DCDCDC;
  margin: 25px 20px;
}
.feed_div textarea {
  margin: 5px 250px;
  background: #AAAAAA;
  width: 400px;
  height: 40px;
  text-align: center;
  table-layout: fixed;
  word-wrap: break-word;
  border:none;
  resize: vertical;
}
#feed textarea:first-child {
  margin: 0px;
  background:#CCCCCC;
  height: 20px;
  width: 100px;
  resize:none;
}
#feed textarea:last-child {
  margin: 10px 50px;
  width:800px;
  background:#DDDDDD;
}
#load_b {
  border: 0px;
  list-style:none;
  width:700px;
  margin: 20px 120px;
  line-height: 40px;
  background: #DDAADD;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
#load_b:hover {
  background: #997799;
  cursor: pointer;
}
#send_b {
  margin: 5px 75px;
  border: 0px;
  list-style: none;
  float: none;
  width: 800px;
  line-height: 50px;
  background: #008DFF;
  color: white;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
#send_b:hover {
  color: black;
  background: #4ACCFF;
}
.resize_img {
 cursor: -webkit-zoom-in; 
 cursor:-moz-zoom-in;
}
#popup {
      position: fixed;
      line-height: 40px;
      width: 200px;
      top: 50%;
      left: 50%;
      background: white;
      text-align: center;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: 0px 0px 3px black;
      -moz-box-shadow: 0px 0px 3px black;
      -ms-box-shadow: 0px 0px 3px black;
      -o-box-shadow: 0px 0px 3px black;
      box-shadow: 0px 0px 3px black;
}