<script>
var x = 0;
function showjs() {
  $.ajax({
    type: 'POST',
    url: "data/show.php",
    data: 'num=' + x,
    success: function (data) {
    	$("#text").append("<div id='loading'><img style='alingn:center' src='img/loading.gif' /> Загрузка</div>");
    	$('#text').append(data).queue(function () {
          $("#loading").remove();
  		});
    	x += 10;
    }
  });
  }
  showjs();
</script>