﻿<meta charset="utf-8"> 
<h2 align='center'>О проекте</h2>
<p>На территории России живут люди более 200 национальностей. На территории Пермского края проживает более 125 народов. Каждая национальность имеет свои обряды и обычаи, быт и культуру, характерные особенности. Россия — многонациональная страна, и каждый народ, живущий в ней, имеет право на уважение к его истории и традициям, на внимание и интерес к его происхождению, значению имени, к его быту и нравам.<img src="../img/1.jpg" width='40%' title='Нажмите, чтобы рассмотреть' class='resize'>
К сожалению, вспыхивающие иногда конфликты на этнической почве обостряют национальный вопрос в России. В этой ситуации особенно важны труды ученых — этнографов, социологов, историков, языковедов, призванные информировать общество о различных народах России, показывать место и значение каждого этноса в мировой культуре. Знание этого, в свою очередь, расширяет кругозор каждого человека, поднимает его собственный культурный уровень, спасает от ксенофобии, спасает от шовинизма или от узкого национализма — болезней, поразивших общество по причине и на фоне сегодняшних политических и экономических проблем. Поэтому я решил заняться популяризацией знаний о различных народах, начал я с татар и башкир Пермского края.</p>
<h3>Для достижения поставленной цели, я выбрал несколько путей:</h3>
<ol>
<li>Сбор материала, его изучение, анализ и представление его на конференциях, открытых уроках, фестивалях культур, в интернет ресурсах.</li>
<li>Создание татарского дома в этнографическом музее Хохловка в Пермском крае.</li>
<li>Составление интерактивной карты районов расселения татар и башкир в Пермском крае.</li>
<li>Создание 3D модели татарского дома.</li>
</ol>
Я уже начал деятельность по некоторым направлениям:
<hr>
<ul><li>Был составлен план установки дома, разработаны два варианта достижения этой цели:
<ul><li> Установить новый дом, идентичный традиционному:
<ul><li>Провести экспедицию в места традиционного проживания татар, сделать зарисовку местности, детально изучить строение традиционного татарского дома в Пермском крае, произвести замеры и составить его эскиз.</li>
<li>Заказать сруб.</li>
<li>Установить и ориентировать дом согласно традициям на территории этнографического музея Хохловка. </li>
<li>Произвести обработку сруба.</li>
<li>Обустроить интерьер сруба согласно эскизу.</li>
<li>Провести экспертизу на историческую достоверность.</li></ul>
<li>Привезти старинный татарский дом из другого места Пермского края.</li>
<ul><li>Провести экспедицию в места традиционного проживания татар, сделать зарисовку местности, детально изучить строение традиционного татарского дома в Пермском крае, произвести замеры и составить его эскиз. </li>
<li>Выбрать дом, соответствующий эскизу.</li>
<li>Провести опись составляющих дома.</li>
<li>Произвести демонтаж дома.</li>
<li>Перевезти дом на территорию этнографического музея Хохловка.
<li>Установить и ориентировать дом согласно традициям на территории этнографического музея Хохловка.</li>
<li>Произвести обработку дома.</li>
<li>Обустроить интерьер сруба согласно плану.</li>
<li>Провести экспертизу на историческую достоверность.</li></ul></ul>
<li>Я работаю над созданием интерактивной карты. Для создания интерактивной карты я использовал язык гипертекстовой разметки – HTML, и языки программирования JavaScript и CSS. За основу я взял карту Пермского края (прил. 1), на неё некоторые населенные – места проживания больших групп татар и башкир, при использовании Shadow Box, я создал галереи с фотографиями соответствующих населенных пунктов (прил. 1). В планах:  добавление информации о населенных пунктах, указанных на карте, добавление информации об обрядах, традициях, быте Пермских татар и башкир, увеличение списка объектов за счет добавления населенных пунктов – мест проживания других народов, информации о них.</li>
<li>Так же, в декабре 2012 года был проведен фестиваль культур, в рамках которого было проведено тестирование учеников трех вторых классов. Тестирование включало в себя анкету. После анкетирования были проведены открытые уроки в этих классах целью повышения общей и этнической образованности детей и не допущения межнациональных конфликтов. Урок включал в себя: знакомство на татарском языке, демонстрацию интерактивной карты, описанной мною ранее, краткий рассказ о татарах Прикамья, импровизированная постановка национальной татарской сказки «Шурале», моделирование национального татарского костюма (детям были предложены макеты человека и элементы одежды, соединив которые, они получали макет человека в татарской одежде), демонстрацию народной татарской песни «Кугерчен».</li></ul></hr>
</p>