<form action="" method="post">
Ваше Имя (максимум 250 слов): <textarea name="name"></textarea><br />
Email (служит для обратной связи, не виден никому, кроме создателя проекта): <textarea name="email"></textarea><br />
Заголовок (максимум 250 слов): <textarea name="topic"></textarea><br />
Text (максимум 250 слов): <textarea name="text"></textarea><br />
<input type="submit" value="Отправить отзыв" name="submit">
</form>